<%= javascript_include_tag "application", "jquery.maskedinput" %>
<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo, "Código" %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :endereco, "Endereço" %><br />
    <%= f.text_area :endereco %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone, :class => 'phone', :id=> 'phone'%>
  </div>
  <div class="actions">
    <% if controller.action_name == 'new' %>
        <%= f.submit("Salvar") %>
    <% else %>
        <%= f.submit("Atualizar") %>
    <% end %>
  </div>

<% end %>
