<p id="notice"><%= notice %></p>

<p>
  <b>Quantidade:</b>
  <%= @estoque.quantidade %>
</p>

<p>
  <b>Quantidade minima:</b>
  <%= @estoque.quantidade_minima %>
</p>

<p>
  <b>Produto:</b>
  <%= @estoque.produto %>
</p>


<%= link_to 'Edit', edit_estoque_path(@estoque) %> |
<%= link_to 'Back', estoques_path %>
