<%= form_for(@fornecedore) do |f| %>
  <% if @fornecedore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fornecedore.errors.count, "error") %> prohibited this fornecedore from being saved:</h2>

      <ul>
      <% @fornecedore.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo, "Código" %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :endereco, "Endereço" %><br />
    <%= f.text_area :endereco %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="actions">
    <% if controller.action_name == 'new' %>
        <%= f.submit("Salvar") %>
    <% else %>
        <%= f.submit("Atualizar") %>
    <% end %>
  </div>
<% end %>
