<p id="notice"><%= notice %></p>

<h1>Fornecedor</h1>

<div class="navegacao">
  <%= link_to 'Voltar', fornecedores_path %>
</div>

<p>
  <b>Codigo:</b>
  <%= @fornecedore.codigo %>
</p>

<p>
  <b>Nome:</b>
  <%= @fornecedore.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @fornecedore.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%= @fornecedore.telefone %>
</p>
