<p id="notice"><%= notice %></p>

<h1>Funcionário</h1>

<div class="navegacao">
  <%= link_to 'Voltar', funcionarios_path %>
</div>

<p>
  <b>Codigo:</b>
  <%= @funcionario.codigo %>
</p>

<p>
  <b>Nome:</b>
  <%= @funcionario.nome %>
</p>

<p>
  <b>Endereco:</b>
  <%= @funcionario.endereco %>
</p>

<p>
  <b>Telefone:</b>
  <%= @funcionario.telefone %>
</p>
